{% macro show_comments(comment, post) %}
    {% import _self as macro %}
    <div class="media mb-4">
        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
        <div class="media-body">
            <h5 class="mt-0">{{ comment.author }}</h5>
            {{ comment.message }}
            <div>
                {% for file in comment.files %}
                    <a href="{{ asset(file.path) }}" data-lightbox="{{ comment.id }}">
                        <img src="{{ asset(file.path)|imagine_filter('my_thumb') }}" alt="{{ file.originName }}"
                             class="img-thumbnail">
                    </a>
                {% endfor %}
            </div>

            <button class="btn btn-sm btn-link js-reply-comment-btn" data-post-id="{{ post.id }}"
                    data-parent-id="{{ comment.id }}">回复
            </button>
            {% for childComment in comment.children %}
                {{ macro.show_comments(childComment, post) }}
            {% endfor %}
        </div>
    </div>
{% endmacro %}

{% macro show_comments2(comment, post) %}
    {% import _self as macro %}
    <div id="comments" class="comments-area">
        <div id="commentshow">
            <ul class="commentlist list-unstyled">
                <li class="comment even thread-even depth-1 parent" id="comment-2805">
                    <div class="comment-wrap" id="comment-2805">
                        <div class="comment-author pull-left">
                            <img alt="" src="http://secure.gravatar.com/avatar/172e2a583a85440dfa12344116fd648c?s=50&amp;d=mm&amp;r=g" srcset="http://secure.gravatar.com/avatar/172e2a583a85440dfa12344116fd648c?s=100&amp;d=mm&amp;r=g 2x" class="avatar avatar-50 photo" width="50" height="50">        </div>
                            <div class="comment-body">
                            <h4>
                                <cite class="fn">
                                    <a target="_blank" href="javascript:;" rel="external nofollow" class="url" data-original-title="" title="">{{ comment.author }}</a>
                                </cite>
                                <span class="comment-date">{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</span>
                            </h4>
                            <p>{{ comment.message }}</p>

                            <div class="reply clearfix">
                                <a rel="nofollow" class="comment-reply-link" href="javascript:;" onclick="return addComment.moveForm( &quot;comment-2805&quot;, &quot;2805&quot;, &quot;respond&quot;, &quot;4929&quot; )" aria-label="回复给悦听有声" data-original-title="" title=""><div class="label label-danger pull-right">回复</div></a></div>
                        </div>
                    </div>
                    <ul class="children">
                        <li class="comment byuser comment-author-allen92 bypostauthor odd alt depth-2" id="comment-2808">
                            <div class="comment-wrap" id="comment-2808">
                                <div class="comment-author pull-left">
                                    <img alt="" src="http://secure.gravatar.com/avatar/eb7f1aa6ec0760ce49e24cfde643168b?s=50&amp;d=mm&amp;r=g" srcset="http://secure.gravatar.com/avatar/eb7f1aa6ec0760ce49e24cfde643168b?s=100&amp;d=mm&amp;r=g 2x" class="avatar avatar-50 photo" width="50" height="50">        </div>
                                <div class="comment-body">
                                    <h4>
                                        <cite class="fn"><a target="_blank" href="index1.html" rel="external nofollow" class="url" data-original-title="" title="">艺小昔</a> <small class="label label-primary">博主</small></cite>                <span class="comment-date">
                    2015/05/26 18:06                </span>
                                    </h4>
                                    <p>
                                        <span class="comment-to plr">@</span>
                                        <span class="reply-comment-author">
                    <a href="#comment-2808" title="" data-original-title="路过
">
                        悦听有声                    </a>
                </span>
                                        你的网站挺美的            </p>

                                    <div class="reply clearfix">
                                        <a rel="nofollow" class="comment-reply-link" href="javascript:;" onclick="return addComment.moveForm( &quot;comment-2808&quot;, &quot;2808&quot;, &quot;respond&quot;, &quot;4929&quot; )" aria-label="回复给艺小昔" data-original-title="" title=""><div class="label label-danger pull-right">回复</div></a>            </div>

                                </div>
                            </div>
                        </li><!-- #comment-## -->
                    </ul><!-- .children -->
                </li><!-- #comment-## -->
            </ul>
        </div>
    </div>
{% endmacro %}