<!--[if lt IE 8]>
{#      <div id="ie-warning" class="alert alert-danger fade in visible-lg">#}
{#          <button type="button" class="close" data-dismiss="alert">&times;</button>#}
{#          <i class="fa fa-warning"></i> 请注意，本博客不支持低于IE8的浏览器，为了获得最佳效果，请下载最新的浏览器，推荐下载 <a href="http://www.google.cn/intl/zh-CN/chrome/" target="_blank"><i class="fa fa-compass"></i> Chrome</a>#}
{#          </div>#}
      <![endif]-->
    <!--首页幻灯片-->
    <!--首页文章列表模块-->
    {% for post in paginator %}
    <article class="well clearfix">
        <header class="entry-header">
            {% if post.postImage is not null %}
{#                <img class="card-img-top" src={{ asset(post.postImage, 'file_upload') }}  alt="{{ post.title }}">#}
                <a href="yixiaoxideyoulai.html" class="entry-cover">
                    <img width="600" height="322" src="{{ asset(post.postImage, 'file_upload') }}" class="attachment-full size-full wp-post-image" alt="" srcset="static/picture/体贴.jpg 600w, http://www.yixiaoxi.com/wp-content/uploads/2015/05/%E4%BD%93%E8%B4%B4-300x161.jpg 300w, http://www.yixiaoxi.com/wp-content/uploads/2015/05/%E4%BD%93%E8%B4%B4-512x275.jpg 512w" sizes="(max-width: 600px) 100vw, 600px">
                </a>
            {% endif %}

            <h1 class="entry-title">
                <a href="yixiaoxideyoulai.html" title="艺小昔的由来">
                    {{ post.title }}
                    <span class="label label-primary entry-tag">置顶</span>
                    <span class="label label-danger entry-tag">HOT</span>
                </a>
            </h1>
            <div class="clearfix entry-meta">
			<span class="pull-left">
				<time class="entry-date fa fa-calendar" datetime="2015/05/24 23:45:23">
					{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}
                </time>
				<span class="dot">|</span>
				<span class="categories-links fa fa-folder-o"> <a href="yixiaoxi.html" rel="category tag">艺小昔</a></span>
				<span class="dot">|</span>
				<span class="fa fa-user"> <a href="allen92.html" title="由艺小昔发布" rel="author">艺小昔</a></span>
			</span>
                <span class="visible-lg visible-md visible-sm pull-left">
				<span class="dot">|</span>
				<span class="fa fa-comments-o comments-link"> <a href="yixiaoxideyoulai.html#comments">67 条评论</a></span>
				<span class="dot">|</span>
				<span class="fa fa-eye"> 36569 views</span>
			</span>
            </div>

        </header>
        <div class="entry-summary entry-content clearfix">
            <p>{{ post.summary }}&#8230;&#8230;</p>
        </div>
        <footer class="entry-footer clearfix visible-lg visible-md visible-sm">
            <div class="pull-left footer-tag">
                <p class="label label-specs">本文暂无标签</p>
            </div>
            <a class="pull-right more-link" href="{{ path('post_show', {'id1': post.id}) }}" title="阅读全文">阅读全文&raquo;</a>
        </footer>
    </article>
    {% endfor %}


    <!--首页文章列表模块-->
    <!--分页-->
    <ul class='pagination pull-right'><li class='active'><a href='index1.html'>1</a></li><li><a href='2.html'>2</a></li><li><a href='3.html'>3</a></li><li><a href='4.html'>4</a></li><li><a href="2.html" class="next" title="下一页">&gt;</a></li><li><a href='22.html' class='extend' title='尾页'>&raquo;</a></li></ul>